body {
    width: 500px;
    height: 800px;
    display: flex;
    flex-wrap: wrap; 
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid rgb(75, 75, 75);
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

#maqui{
    text-align: center;
}
header {
    height: 150px;
    width: 475px;
}

nav {
    height: 50px;
    width: 475px;
}

footer {
    height: 100px;
    width: 475px;
}

section {
    height: 185px;
    width: 100%;
}

article {
    height: 185px;
    width: 100%;
}

aside {
    height: 100%;
    width: 30%;
}

#div1 {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}

#div2 {
    height: 400px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-between;
    row-gap: 27px;
}

#ultpeli{
    height: 20px;
}
#redondos {
    height: 20px;
}
#fot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}