body {
    height: 350px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

header {
    width: 100%;
    background-color: green;
    height: 50px;
    border-radius: 10px;
}

nav {
    width: 100%;
    background-color: rgb(140, 0, 255);
    height: 25px;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 500px;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
}

aside {
    height: 100%;
    width: 100px;
    background-color: #ff0000;
    border-radius: 10px;
}

main {
    height: 200px;
    width: 385px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

article {
    height: 100px;
    width: 300px;
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
}

#segundasec{
    height: 20px;
    width: 300px;
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: rgb(255, 0, 221);
    height: 50px;
    border-radius: 10px;
}